@model ArtFusionStudio.Models.ProductFeatures.Coupon

@{
    ViewData["Title"] = "Изтрий";
}

<h1>Изтрий</h1>

<h3>Сигурен ли си че искаш да изтриеш @Model.DiscountCode?</h3>
<div>
    <h4>Coupon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Код за отстъпка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            Процент на отстъпка
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>
        <dt class = "col-sm-2">
            Продукт с отстъпката
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            Начална дата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            Крайна дата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" />
        <a asp-action="Index">Върни се към списъка</a>
    </form>
</div>
