@model IEnumerable<ArtFusionStudio.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<div class="catalogue">
    <div class="btn-sorting">
        <a asp-action="Index" asp-route-brandId="@ViewData["BrandId"]" asp-route-sortOrder="@ViewData["NameSortParm"]">Име</a>
        <a asp-action="Index" asp-route-brandId="@ViewData["BrandId"]" asp-route-sortOrder="@ViewData["PriceSortParm"]">Текуща цена</a>
        <a asp-action="Index" asp-route-brandId="@ViewData["BrandId"]" asp-route-sortOrder="@ViewData["RatingSortParm"]">Оценка</a>
        <a asp-action="Index" asp-route-brandId="@ViewData["BrandId"]" asp-route-sortOrder="@ViewData["TotalVotesSortParm"]">Брой оценки</a>
    </div>
    <div class="products">
        <section class="shop_section">
            <div @* class="container" *@>
                <div class="row">
                @{
                    int counter = 0;
                    @foreach (var item in Model)
                    {
                        counter++;
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="box">
                                <a class="text-center custom_a" href="">
                                    <div class="img-box">
                                        <img src="~/images/Products/@(item.Category.Name)s/@item.ProductURL" onerror="this.onerror=null; this.src='/images/Logo/afs-logo-phone.png'" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <h6>
                                            @item.Name
                                        </h6>
                                        <h6>
                                            @if (item.OldPrice > item.CurrentPrice)
                                            {
                                                <span class="text-muted text-decoration-line-through old-price">@(item.OldPrice)лв.</span> <br />
                                            }
                                            <span class="new-price">@(item.CurrentPrice)лв.</span>
                                        </h6>
                                    </div>
                                    <div class="new">
                                        <span>
                                            <i data-star="@item.Rating"> </i> <br />
                                            <p> @(item.TotalVotes) оценки </p>
                                        </span>
                                    </div>
                                </a>
                                <div class="text HeartAnimation heart-btn">
                                    <button class="heart heart-btn"></button>
                                </div>
                                <div class="action">
                                    <div class="d-flex">
                                        <a class="action-btn btn btn-outline-dark btn-dark-text flex-shrink-0 w-100">
                                            <i class="bi bi-cash"></i>
                                            Купи
                                        </a>
                                    </div>
                                    <div class="d-flex">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <form id="addToCartForm" asp-action="AddToCart" asp-controller="ShoppingCart" method="post">
                                                    <input type="hidden" name="productId" value="@item.Id" />
                                                    <button class="action-btn btn btn-outline-dark btn-dark-text flex-shrink-0 w-100" 
                                                    type="submit" onclick="addToCart(event)">
                                                        <i class="bi-cart-fill me-1"></i>
                                                        Добави в количката
                                                    </button>
                                                </form>
                                            }
                                            else
                                            {
                                                <a class="action-btn btn btn-outline-dark btn-dark-text flex-shrink-0 w-100"
                                                   asp-area="Identity" asp-controller="Account" asp-action="Login">
                                                    <i class="bi-cart-fill me-1"></i>
                                                    Добави в количката
                                                </a>
                                            }

                                    </div>
                                    <div class="d-flex">
                                            <a class="action-btn btn btn-outline-dark btn-dark-text flex-shrink-0 w-100" asp-action="Details" asp-route-id="@item.Id">
                                            <i class="bi-eye me-1"></i>
                                            Разгледай
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    function addToCart(event) {
        xhr.onload = function () {
            if (xhr.status === 200) {
                alert('Артикулът е добавен успешно!');
            } else {
                alert('Грешка: Неуспешно добавяне на артикула.');
            }
        };
    }
</script>